:root {
  --primaryColor: #143642;
  --secondaryColor: #0f8b8d;
  --tertiaryColor: #ec9a29;
  --buttonColor: #a8201a;
}

body {
  font-family: sans-serif;
}

/* Header */
header {
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

main {
  padding: 60px 0px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
}

.contact-form h2 {
  color: var(--secondaryColor);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
  padding: 0px 40px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact-form button {
  padding: 10px 30px;
  background-color: var(--buttonColor);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  justify-content: center;
  margin-top: 15px;
}

/* Footer */
footer {
  background: var(--primaryColor);
  padding: 20px 0;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .footer-logo img {
  height: 50px;
}

footer .footer-nav {
  margin-bottom: 20px;
}

footer .footer-nav h3 {
  margin-bottom: 10px;
  color: var(--tertiaryColor);
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin-bottom: 10px;
}

footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .footer-links {
    gap: 50px;
  }
}
