/* General Styles */
body {
  font-family: sans-serif;
}

:root {
  --primaryColor: #143642;
  --secondaryColor: #0f8b8d;
  --tertiaryColor: #ec9a29;
  --buttonColor: #a8201a;
}

/* Header */
header {
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* Main Content */
main {
  padding: 20px;
  text-align: center;
}

/* Product Details Section */
.product-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: white;
}

.product-image img {
  width: 100%;
}

.product-info {
  max-width: 500px;
}

.product-info h1 {
  color: var(--secondaryColor);
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

.product-info .tagline {
  color: #777;
  margin-bottom: 40px;
}

.product-info .price {
  color: var(--secondaryColor);
  font-size: 32px;
  font-weight: bold;
}

/* Description Section */
.description {
  padding: 40px 20px;
  /* background-color: #f9f9f9; */
  text-align: center;
}

.description h1 {
  color: var(--secondaryColor);
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600px;
}

.description p {
  color: #777;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: var(--buttonColor);
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
}

.border {
  border-bottom: 4px solid var(--tertiaryColor);
  width: 240px;
  margin: auto;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background: var(--primaryColor);
  padding: 20px 0;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .footer-logo img {
  height: 50px;
}

footer .footer-nav {
  margin-bottom: 20px;
}

footer .footer-nav h3 {
  margin-bottom: 10px;
  color: var(--tertiaryColor);
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin-bottom: 10px;
}

footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .footer-links {
    flex-direction: column;
  }
}
