/* General Styles */
body {
  font-family: sans-serif;
}

:root {
  --primaryColor: #143642;
  --secondaryColor: #0f8b8d;
  --tertiaryColor: #ec9a29;
  --buttonColor: #a8201a;
}

/* Header */
header {
  background-color: #3e8c80;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Main Content */
main {
  padding: 20px;
  text-align: center;
}

.products {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.products h2 {
  color: #3e8c80;
  margin-bottom: 10px;
}

.products p {
  color: #777;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product {
  background-color: #e0f4f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100px;
  margin-bottom: 10px;
}

.product h3 {
  color: #3e8c80;
  margin-bottom: 5px;
}

.product p {
  color: #333;
}

/* Footer */
footer {
  background: var(--primaryColor);
  padding: 20px 0;
  flex-direction: row;
}

footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .footer-logo img {
  height: 50px;
}

footer .footer-nav {
  margin-bottom: 20px;
}

footer .footer-nav h3 {
  margin-bottom: 10px;
  color: var(--tertiaryColor);
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin-bottom: 10px;
}

footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }
}
