:root {
  --primaryColor: #143642;
  --secondaryColor: #0f8b8d;
  --tertiaryColor: #ec9a29;
  --buttonColor: #a8201a;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #366e68;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  font-size: 1.5em;
}

header .logo p {
  margin-top: -10px;
  font-size: 0.8em;
  color: #e2f5f4;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

main {
  padding: 20px;
}

.find-us h2 {
  color: #366e68;
  font-size: 2em;
}

.find-us p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.locations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.location {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
}

.map {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.map img {
  width: 100%;
  border-radius: 8px;
}

/* Footer */
footer {
  background: var(--primaryColor);
  padding: 20px 0;
  flex-direction: row;
}

footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .footer-logo img {
  height: 50px;
}

footer .footer-nav {
  margin-bottom: 20px;
}

footer .footer-nav h3 {
  margin-bottom: 10px;
  color: var(--tertiaryColor);
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin-bottom: 10px;
}

footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .locations {
    flex-direction: row;
    justify-content: space-between;
  }

  .location {
    width: 32%;
  }

  .footer-links {
    gap: 50px;
  }
}
