:root {
  --primaryColor: #143642;
  --secondaryColor: #0f8b8d;
  --tertiaryColor: #ec9a29;
  --buttonColor: #a8201a;
}

body {
  font-family: sans-serif;
}

/* Header */
header {
  background-color: var(--secondaryColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo img {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

main {
  padding: 20px;
}

.find-us {
  display: flex;
  flex-direction: row;
  padding: 40px 100px 40px 100px;
}

.find-us h1 {
  color: var(--secondaryColor);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.find-us p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.locations h2 {
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
}

.location p {
  font-size: 16px;
}

/* .locations {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
} */

.location {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  /* text-align: left; */
  margin-bottom: 10px;
}

/* .map { */
/* width: 100%;
  max-width: 600px; */
/* margin: 0 auto; */
/* } */

.map {
  display: flex;
  align-items: center;
}

.map img {
  width: 500px;
  height: 500px;
  border-radius: 8px;
}

/* Footer */
footer {
  background: var(--primaryColor);
  padding: 20px 0;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .footer-logo img {
  height: 50px;
}

footer .footer-nav {
  margin-bottom: 20px;
}

footer .footer-nav h3 {
  margin-bottom: 10px;
  color: var(--tertiaryColor);
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin-bottom: 10px;
}

footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .locations {
    flex-direction: row;
    justify-content: space-between;
  }

  .location {
    width: 32%;
  }

  .footer-links {
    gap: 50px;
  }
}
