/* General Styles */
body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  text-align: center;
  padding: 50px 300px;
}

:root {
  --primaryColor: #143642;
  --secondaryColor: #0f8b8d;
  --tertiaryColor: #ec9a29;
  --buttonColor: #a8201a;
}

/* Header */
header {
  color: #fff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .logo {
  display: flex;
  float: left;
}

header .logo img {
  height: 50px;
}

header nav ul {
  display: flex;
  /* justify-content: center; */
  list-style: none;
}

header .nav {
  float: right;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.border {
  border-bottom: 4px solid var(--tertiaryColor);
  width: 240px;
  margin: auto;
  margin-bottom: 20px;
}

.about-text,
.product-text,
.hangout-text {
  margin: 0px 100px 0px 100px;
}

/* Hero Section */
.hero {
  background: url("/assets/Coffe\ Header.png") no-repeat center center/cover;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  height: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hero h1 {
  font-size: 44px;
  font-weight: bold;
  /* margin-bottom: 10px; */
  margin-top: 80px;
}

.hero h2 {
  font-size: larger;
}

/* About Section */
.about,
.product-showcase,
.hangout {
  display: flex;
  align-items: center;
  margin: 50px 0px 80px 0px;
}

.about img,
.product-showcase img,
.hangout img {
  width: 20%;
  border-radius: 10px;
}

.about div,
.product-showcase div,
.hangout div {
  flex: 1;
}

.about h2,
.product-showcase h2,
.hangout h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: var(--secondaryColor);
  font-weight: bold;
}

.about p,
.product-showcase p,
.hangout p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background: var(--buttonColor);
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-content p {
  overflow-wrap: break-word;
  white-space: normal;
}

/* Product Section */
.product-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Hangout Content */
.hangout-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Instagram Section */
.instagram {
  text-align: center;
  margin: 50px 0;
}

.instagram h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--secondaryColor);
  font-weight: bold;
}

.instagram span {
  color: var(--tertiaryColor);
}

/* .instagram .instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
} */

.instagram img {
  width: 20%;
  border-radius: 10px;
}

.galleries {
  margin-bottom: 20px;
}

.feed {
  margin-right: 20px;
}

/* Contact Section */
.contact {
  text-align: center;
  margin: 50px 0;
}

.contact h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--secondaryColor);
  font-weight: bold;
}

.contact p {
  margin-bottom: 20px;
}

/* Footer */
footer {
  background: var(--primaryColor);
  padding: 20px 0;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

footer .container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .footer-logo img {
  height: 50px;
}

footer .footer-nav {
  margin-bottom: 20px;
}

footer .footer-nav h3 {
  margin-bottom: 10px;
  color: var(--tertiaryColor);
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin-bottom: 10px;
}

footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about,
  .product-showcase,
  .hangout {
    flex-direction: column;
    text-align: center;
  }

  .about img,
  .product-showcase img,
  .hangout img {
    margin-bottom: 20px;
  }

  .instagram .instagram-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .instagram .instagram-grid {
    grid-template-columns: 1fr;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 10px 0;
  }
}
